@font-face {
    font-family: Jost;
    src: url(Jost-Regular.ttf);
}
body{
background:black;
}

.about{
    background-color: #981111bd;
    border-radius: 30px;
    padding-bottom:242px;
    padding-top:30px;
    width:50%;
    margin-left:25%

}
.aboutt h3{
    font-size: 30px;
    font-family: Jost;
    font-weight: 800;
    color:  #ffe4bf;
    margin-top:15px;
}
.ab{
    margin-top: 81px;
}
.aboutt{
    text-align: center;
}
.para{
    margin-bottom: 30px;
    margin-right:90px;
    margin-left:90px;
    text-align: justify;
    font-family: 'Jost', sans-serif;
    color: #f1ffb5a1;
}
.aboutt para{
    text-align: center;
    font-weight: 400;
}

.box{
    width:587px;
    height:80px;
    margin-top:40px;
    font-size: 48px;
    border-radius: 30px;
    margin-left:25%;
}
.gun{
    
}
.gun img{
    position: relative;
    float:right;
    color:white;
    width:60px;
    top:-75px;
    border: 2px solid #ffe4bf;
    border-radius:5px;
    left:-338px;
}
